################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YoabTest/.vs/YoabTest/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
*.vsidx
